.gameBoard {
    border: 1px solid black;
    height: 120px;
    width: 140px;
    display: flex;
    flex-wrap: wrap;

}

h1 {
    color: #9667AB;
    text-align: center;
    font-size: 80px;
    margin: 10px 0 0 0;
    font-family: 'Righteous', cursive;
}

.message{

}

.gameBoard div {
    height: 20px;
    width: 20px;
    /* background-color: darkseagreen; */

}

.player1 {
    background-color: darkseagreen;
    border-radius: 50%;
}

.player2 {
    background-color: gold;
    border-radius: 50%;
}

.filled {

}