:root {
    --main-font-family: 'Poppins', sans-serif;
  }

  body {

    background-image: linear-gradient(to right top, #00c9b6, #35d0e0, #78d5f9, #b0d8ff, #daddff, #daddff, #daddff, #daddff, #b0d8ff, #78d5f9, #35d0e0, #00c9b6);
    background-size: cover;
    background-repeat:no-repeat
}

h1 {
    color: #9667AB;
    text-align: center;
    font-size: 80px;
    margin: 50px 0 0 0;
    font-family: 'Righteous', cursive;

}

h3 {
    text-align: center;
    font-size: 30px;
    font-family: var(--main-font-family);
    margin: 0;

}

#message{
    font-size: 20px;
    font-family: var(--main-font-family);

}

.restartBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 20px 0;
}

.gameBoard {
    border: 1px solid black;
    height: 360px;
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;

}

.gameBoard div {
    height: 60px;
    width: 60px;
    /* border: 1px solid black; */
/* background-color: black; */

}

.player1 {
    background-color: darkseagreen;
    border-radius: 50%;
}

.player2 {
    background-color: gold;
    border-radius: 50%;

}

.filled {

}