:root {
    --main-font-family: 'Poppins', sans-serif;
  }

html {
    height: 100%;
}

body {
    /* height: 100%;
    width: 100%; */
    background-image: linear-gradient(to right top, #00c9b6, #35d0e0, #78d5f9, #b0d8ff, #daddff, #daddff, #daddff, #daddff, #b0d8ff, #78d5f9, #35d0e0, #00c9b6);
    background-size: cover;
    background-repeat:no-repeat;
    /* position: relative; */

}

h1 {
    color: #9667AB;
    text-align: center;
    font-size: 80px;
    margin: 60px 0 0 0;
    font-family: 'Righteous', cursive;

}

.players{
    display: flex;
    justify-content: center;
    font-family: var(--main-font-family);
}

.player-one{
    display: flex;
    padding: 10px 20px 10px 0;

}

.player1color {
    display: flex;
    background-color: #4FD2EA;
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid black;
}

.player-two {
    display: flex;
    padding: 10px 0 10px 20px;

}

.player2color {
    display: flex;
    align-items: center;
    background-color:  #BD7BC8;; 
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid black;
}

h3 {
    text-align: center;
    font-size: 30px;
    font-family: var(--main-font-family);
    margin: 0;

}

#message{
    font-size: 20px;
    font-family: var(--main-font-family);

}

.restartBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 20px 0;
    color: #9667AB;
}

button {
    background-color: #9667AB;
    color: white;
    padding: 6px 8px;
    border-radius: 15%;

}

.gameBoard {
    border: 4px solid #9667AB;
    height: 386px;
    width: 455px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    /* border-radius: 5%; */

}

.gameBoard div {
    height: 63px;
    width: 63px;
    border: 1px solid #9667AB;
}

.player1 {
    background-color: #4FD2EA;
    border-radius: 50%;
    border: 1px solid #9667AB;

}

.player2 {
    background-color: #BD7BC8;
    border-radius: 50%;
    border: 1px solid #9667AB;


}

.extra7 {
    border: none!important;
}

/* .hover-color:hover {
    background-color: #ebf2f7;
} */